<div class="sticky-footer" id="footer">
  <div style="padding-top: 0.3rem;padding-bottom: 0.1rem;display: block;">
    <div style="padding: 0;">
      <p id="copyright" class="text-center text-muted" style="margin-bottom: 0.4rem;font-size: 0.75em;">
        © 2018 Fr4nZ82@gmail.com
      </p>
    </div>
  </div>
</div>
