
<!-- INTESTATION -->
<% if(data.page.name == 'home'){ %>
<div id="logobig" class="container-fluid">
  <div class="row align-items-center justify-content-center">
    <div id="logoimgdiv" class="col-sm-6">
        <img  src="/img/lnprint_big.png" class="img-fluid" alt="Responsive image" maxwidth="410px">

    </div>
    <div class="col-sm-6"><br>
      <!-- <div id="debug-container"></div>
      <button class="refresh-button" onclick="getDebugInfo()">Refresh </button> -->



      <h6 id="intestationText" class="text-white text-center">
        Lightning Printings is a<br>web LN shopping wallet.<br>you can deposit and withdraw<br>
        with regular onchain tx;<br>also you can send and receive with<br>
        <a class="linkondark font-weight-bold" href="https://lightning.network/" target="_blank" rel="noopener">
        lightning network</a>.
        <br>You can pay other lightning shop<br>or buy our products.
        <br><br>
        First time here?<br>Follow the
        <a class="linkondark font-weight-bold" href="javascript:void(0);" onclick="LnPrint.scrollToId('#SBSG',-78);">
        step by step guide</a><br> to easly use this app!
        <br><br>
        Registered user?<br>Go directly to your
        <% if(!locals.user){  %>
          <a id="dashboardIntestation" class="linkondark font-weight-bold toDashboardLinks" href="javascript:void(0);"
          onclick="LnPrint.modal.new({from:'dashboard',name:'keyQuery'})">dashboard</a>
        <% }else{ %>
          <a id="dashboardIntestation" class="linkondark font-weight-bold toDashboardLinks" href="javascript:void(0);"
          onclick="LnPrint.req.changepage('dashboard');">dashboard</a>
        <% } %>
        <br><br>
      </h6>
    </div>
  </div>
</div>
<!-- /INTESTATION -->
<% } %>

<!-- NAVBAR -->
<nav id="naviga" class="navbar sticky-top navbar-dark navbar-expand-sm"
  <% if(data.page.name == 'dashboard' || data.page.name == 'products'){ %>
    style="border-bottom-left-radius: 0;border-bottom-right-radius: 0"
  <% } %>
  >

  <!-- NAVBAR CONTENT DIV -->
  <div id="navbarcontentdiv" class="container-fluid">

    <!-- SMALL LOGO -->
    <% if(data.page.name == 'home'){ %>
    <a id="logosmalla" class="navbar-brand navbar-nav" href="javascript:void(0);"
    onclick="$('html,body').stop().animate({scrollTop:0}, 500);" style="padding: 0px;">
    <% }else{ %>
    <a id="logosmalla" class="navbar-brand navbar-nav" href="javascript:void(0);"
    onclick="LnPrint.req.changepage('home')" style="padding: 0px;">
    <% } %>
      <img id="logosmall" src="/img/lnprint.png" alt="">
    </a>
    <!-- /SMALL LOGO -->

    <!-- NAVBAR LINKS -->
    <div class="collapse navbar-collapse" id="navbarlinks">
      <ul id="navButtons" class="navbar-nav mr-auto">
        <li class="nav-item <% if (data.page.name == 'home'){ %> active <% } %>">
        <% if(data.page.name == 'home'){ %>
          <a class="nav-link" href="javascript:void(0);"
          onclick="$('html,body').stop().animate({scrollTop:0}, 500);">Home</a>
        <% }else{ %>
          <a class="nav-link" href="javascript:void(0);" onclick="LnPrint.req.changepage('home');">Home</a>
        <% } %>
        </li>
        <li class="nav-item <% if (data.page.name == 'products'){ %> active <% } %>">
        <% if(data.page.name == 'products'){ %>
          <a class="nav-link" href="javascript:void(0);"
          onclick="$('html,body').stop().animate({scrollTop:0}, 500);">Products</a>
        <% }else{ %>
          <a class="nav-link" href="javascript:void(0);" onclick="LnPrint.req.changepage('products');">Products</a>
        <% } %>
        </li>
        <li class="nav-item <% if (data.page.name == 'dashboard'){ %> active <% } %>">
          <% if(!locals.user){  %>
            <a id="dashboardNav" class="nav-link toDashboardLinks" href="javascript:void(0);"
            onclick="LnPrint.modal.new({from:'dashboard',name:'keyQuery'})">Dashboard</a>
          <% }else{ %>
            <a id="dashboardNav" class="nav-link toDashboardLinks" href="javascript:void(0);"
            onclick="LnPrint.req.changepage('dashboard');">Dashboard</a>
          <% } %>
        </li>
      </ul>
    </div>
    <!-- /NAVBAR LINKS -->

    <!-- NAVBAR ICONS -->
    <div id="navicons" class="row">

      <!-- HAMBURGER -->
      <button id="hamburger"
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarlinks"
        aria-controls="#navbarlinks"
        aria-expanded="false"
        aria-label="Toggle navigation">
          <i class="fa fa-bars navbar-icon"></i>
      </button>
      <!-- /HAMBURGER -->

      <% if(!!locals.user){  %>
        <!-- USER AND BELL -->
        <div id="userandbell" class="row">
          <i id="bellicon" class="fas fa-fw fa-bell navbar-icon">
            <span id="bellcounts" class="label">23</span>
          </i>
          <a id="usericon" class="fas fa-fw fa-user-circle navbar-icon"
          href="javascript:void(0);" onclick="LnPrint.modal.new({from:'usericon',name:'userInfo'})">
          </a>
        </div>
        <!-- /USER AND BELL -->
      <% } %>
    </div>
    <!-- /NAVBAR ICONS -->

  </div>
  <!-- /NAVBAR CONTENT DIV -->

</nav>
<!-- /NAVBAR -->


<!-- DYNAMIC MODAL -->
