
$modal-inner-padding:               1rem ;
$modal-dialog-margin:               .0rem ;
input[type=number] {
    -moz-appearance:textfield;
}
//GENERAL CLASSES and VAR
$dark: #181b1b;
$darken1: rgba($dark, 0.1);
$darken2: rgba($dark, 0.2);
$darken3: rgba($dark, 0.3);
$darken4: rgba($dark, 0.4);
$darken5: rgba($dark, 0.5);
$darken6: rgba($dark, 0.6);
$darken7: rgba($dark, 0.7);
$darken8: rgba($dark, 0.8);
$darken9: rgba($dark, 0.9);
$darken95: rgba($dark, 0.95);
$buttonred: #733838;
$light: #f6fffc;
$grey: #78837e;
$greyHover: #656f6b;
$bgcolor: rgba($dark, 0.8);
$logogreen: #a6ffdc;
$logoyellow: #e1ff7d;
$textcolor: rgba($light, 0.95);


#navbarlinks.navbar-collapse.collapsing {
  -webkit-transition: height 0.01s;
  -moz-transition: height 0.01s;
  -ms-transition: height 0.01s;
  -o-transition: height 0.01s;
  transition: height 0.01s;

}

.hidden{
  display:none !important;
}
//PAGE GENERAL DIMENSIONS
html, #thebody {
  //overflow-x: hidden;
  //height: calc(100% + 24px);// + 150px);
}
#thebody {
  background: url(../img/favicon.png) no-repeat -9999px -9999px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: $bgcolor ;
  color: $textcolor;
  flex: 1 0 auto;
}

#footer {
  z-index: 1;
  border-top-style: ridge;
  border-top-color: #a6ffdc;
  border-top-width: thin;
  height: 30px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: $dark; //NERO
  color: #ffffff;
  flex-shrink: 0;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
#addAppBtn {
  line-height: 0;
  font-size: 0.75em;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 0.3rem;
  background-color: #a6ffdc;
  color: #181b1b;
  position: fixed;
  bottom: 0.42rem;
  z-index: 2;
  height: 1rem;
  left: 1rem;
  border-radius: 20px;
  font-family: times;
  font-weight: bold;
}
#donateBtn{
  line-height: 0;
  font-size: 0.75em;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 0.3rem;
  background-color: #a6ffdc;
  color: #181b1b;
  position: fixed;
  bottom: 0.42rem;
  z-index: 2;
  height: 1rem;
  right: 1rem;
  border-radius: 20px;
  font-family: times;
  font-weight: bold;
}

//NAVBAR
#logobig{
  overflow-y: auto;
  padding-bottom: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: $dark;
}
#logoimgdiv{
  width: 100%;
  margin-top: 10px;
  padding-top: 20px;
  max-width: 800px;
}
#intestationText{
  //font-display: fallback;
}

#naviga{
  border-bottom-style: ridge;
  border-bottom-color: #a6ffdc;
  border-bottom-width: thin;
  flex-wrap: nowrap;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom:8px;
  background-color: $dark;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}
#navButtons{
  text-align: left;
}
#navbarlinks{
  order: 0;
}
#navicons{
  margin: 0;
  flex-wrap: nowrap;
  height: 42px;
  width: 111px;
  justify-content: flex-end;
  order: 1;
}
#userandbell{
  flex-wrap: nowrap;
  //order: 0;
  padding-top: 12px;
  margin-right: 12px;
  margin-left: 12px;
  //padding-right: 10px;
}
#hamburger{
  color: $light;
  width: 23px;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border : 0;
  border-style : none;
  border-width : medium;
  border-color : $logogreen;
}
#usericon{
  color: $light;
  margin-left: 12px;
  padding-right: 0px;
  padding-left: 0px;
  //display: flex;
}
#bellicon{
  opacity: 0.2;
  color: $light;
  padding-left: 0px;
  padding-right: 0px;
  //display: flex;
}
#bellcounts{
  display: none;
  background-color: #733838;
  color: #ffffff;
  position: relative;
  right: -8px;
  top: -31px;
  font-family: "Helvetica Neue";
  text-shadow: none;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  font-size: 60%;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: .25em;
}
.navbar-icon{
  font-size: 130%;
}


.linkondark{
  color: $logogreen;
}
#logosmalla{
  display: none;
}
#logosmall{
  opacity: 0;
  height: 0;
}

//HOWWORK
#hwdiv .willbe{
  color: rgba(#000000, 0);
}
#hwdiv .badgeT{
  display: block;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 1.2rem;
  color: $logogreen;
  background-color: $dark;
  padding: 0.5em;
  border-radius: 0.8em;
}
#hwdiv .badgeh{
  cursor: pointer;
  margin-bottom: -0.1em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  font-weight: bold;
  font-size: 1rem;
  color: $logogreen;
  background-color: $darken7;
  border-width: 0px;
  border-bottom-width: thin;
  border-style:solid;
  border-color: $logogreen;
  border-top-left-radius: 0.8em;
  border-top-right-radius: 0.8em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0
}
#hwdiv .badgeh:hover{
  color: $logoyellow;
  background-color: $darken9;
  border-color: $logoyellow;
}
#hwdiv .badgep{
  padding: 0.5em;
  font-size: 1rem;
  color: $light;
  background-color: $darken4;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0.8em;
  border-bottom-right-radius: 0.8em
}
//GENERAL MODAL
.modal-open {
  //overflow: inherit !important;
  padding-right: 0;
}
//ALERT MODAL
.messageModal{
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
}
.messageModalContent{
  overflow: hidden !important;
  padding: 0 !important;
  padding-bottom: 7px !important;
  margin: 0 !important;
  display: flex !important;
  background-color: $buttonred;
  height: auto !important;
  align-content: center !important;
  align-items: center !important;
  justify-content: center !important;
  box-shadow: 0.1em 0.1em 0.3em $darken9;
  border-radius: 1em;
  border-style: outset;
  border-width: medium;
  border-color: $dark;
}
.messageModalContent p, .messageModalContent h5{
  padding: 0 !important;
  margin: 0 !important;
  text-align: center !important;
  text-shadow: 1px 1px 3px $dark !important;
  font-weight: bold !important;
}
//DYNAMIC MODAL
.qrlabel{
  box-shadow: none !important;
}
#invoicecountdown{
  text-align: center;
}
.modal-backdrop{
  opacity: 0 !important;
}
.dynamicModal{
  padding: 0 !important;
}
#dynamicModal1{
  background-color: rgba(#ffffff, 0.3);
}
.dynamicModal button{
  box-shadow: 0.1em 0.1em 0.3em $darken9;
}
.modal-dialog-pers{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  height: 100vh !important;
}
.modal-content-fulmine{
  background-color: unset !important;
  text-align: center;
  background-image: url("../img/fulmine.jpg");
  background-size: 98vh;
  position: fixed !important;
  height: 100vh !important;
  background-position: center;
  border-style: none !important;
}
.modal-content-pers{
  overflow-y: auto;
  overflow-x:hidden;
  max-height: 100vh !important;
  background-color: $darken95 !important;
  border-radius: 1em !important;
  border-style: outset !important;
  border-width: medium !important;
  border-color: $dark !important;
}
.modal-content-pers div{

  box-shadow: 0.1em 0.1em 0.3em $darken9;
  border-radius: 1em;
}
.modal-header{
  min-height: 40px !important;
  padding: 0.3rem !important;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-style: solid;
  border-width: thick;
  border-color: $dark;
  background-color: $dark;
  font-weight: bold;
  color: $logogreen;
}
.modal-body{
  color: $textcolor;
}
.keytocopy{
  overflow-wrap: break-word;
  background-color: $bgcolor;
  color: $textcolor;
}
#keysaved{
  box-shadow: 0 0 0 !important;
  border-radius: 0 !important;
}
#keysavedtext{
  font-weight: bold;
}
.theKey{
    overflow: hidden;
    color: #00ff00;
    width: 100%;
    margin-top: 0.1em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-bottom: 0.1em;
    box-shadow: 0.1em 0.1em 0.3em $darken9;
    padding: 6px 6px;
    border: 0px;// solid #00ffff;
    border-radius: 0.5em;
    background-color: #000000;
    resize: none;
    max-height: 110px !important;
}
.keynotification{
  background-color: $darken8;
  padding-top: 0.2em;
  padding-bottom: 0.1em;
  margin-bottom: 0.5em;
}
.keynotification p{
  text-align: center !important;
}
.keyntitle{
  margin: 0.2rem;
}
.wb{
  word-wrap: break-word !important;
}
.dynamicModal .keydiv{
  border-radius: 0 !important;
  box-shadow: 0 0 0 !important;
}
#qrdiv{
  padding-bottom: 12px;
  box-shadow: 0 0 0 !important;
  border-radius: 0 !important;
}
#qrdiv canvas{
  background-color: #ffffff;
  padding: 0.8em;
  width: 85%;
	height: auto;
  //min-width: 500px;
}
.closeModalBtn{
  background-color: $grey !important;
  color: $dark;
}
.closeModalBtn:hover{
  background-color: $greyHover !important;
}
#logOutBtn{
  background-color: $buttonred;
  color: $light;
}
.notifyMessage{
  background-color: #1b7c5d !important;
  color: #e7fffa !important;
}
.alertMessage{
  background-color: #733838 !important;
  color: #e7fffa !important;
}
.promptMessage{
  height: auto !important;
  background-color: #733838 !important;
  color: #e7fffa !important;
  padding: 10px !important;
}
.promptMessage div{
  margin-top: 15px !important;
  width: 100% !important;
  box-shadow: 0 0 0 !important;
  border-radius: 0 !important;
  text-align: right !important;
}
//DASHBOARD
#wrapper {
  //background-color: $bgcolor; //BLU
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100vh - 58px - 38px);
}
.fullWrapper{
  height: 100%;
}
.linkToWithdraw{
  color: rgb(195, 255, 68);
}
.channelsTableCover{
  padding: 7px;
  padding-top: 3px;
  height: calc(100% - 35px);
  width: calc(100% - 31px);
  background-color: rgba(#000000, 0.94);
  position: absolute;
}
#content-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#drawingspace{
  display: flex;
  flex-direction: column;
  max-width: 1024px;
}
.drawingrow{
   margin-left: -7.5px !important;
   margin-right: -7.5px !important;
}
.drawingcolumn{
  margin-left: -7.5px;
  margin-right: -7.5px;
  max-width: 100vw !important;
  flex-grow: 1 !important;
}
.o-hidden {
  overflow: hidden !important;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

#thesidebar .nav-item.active .nav-link {
   color: #fff;
}

.navbar-nav .nav-item .nav-link:focus {
  outline: none;
}
.fas:hover{
  outline: none;
  text-decoration: none;
}

.thesidebar {
  z-index: 1019;
  margin-right: -8px;
  position: relative;
  left: -8px;
  width: 82px !important;
  min-width: 82px;
  max-width: 82px;
  background-color: $dark;
  min-height: 100%;
}

#thesidebar .nav-item:last-child {
  margin-bottom: 1rem;
}

#thesidebar .nav-item .nav-link {
  text-align: center;
  padding: 0.75rem 1rem;
  width: 90px;
}

#thesidebar .nav-item .nav-link span {
  font-size: 0.65rem;
  display: block;
}

.sidebar .nav-item .nav-link {
  color: rgba(#ffffff, 0.5);
}

.sidebar .nav-item .nav-link:active, .sidebar .nav-item .nav-link:focus, .sidebar .nav-item .nav-link:hover {
  color: rgba(#ffffff, 0.75);
}

.thesidebar.toggled {
  // width: 0 !important;
  // overflow: hidden;
  display: flex !important;
}

@media (min-width: 768px) {
  .sidebar {
    width: 165px !important;
  }
  .sidebar .nav-item .nav-link {
    display: block;
    width: 100%;
    text-align: left;
    padding: 1rem;
    width: 165px;
  }
  .sidebar .nav-item .nav-link span {
    font-size: 1rem;
    display: inline;
  }
}

@media (max-width: 576px) {
  .thesidebar {
    display: none;
  }
}
#btcsymbol{
  font-weight: bolder;
  font-family: courier new;
  font-size: 1.2em;
}
.card-body-icon {
  position: absolute;
  z-index: 0;
  top: -1.25rem;
  right: -1rem;
  opacity: 0.4;
  font-size: 5rem;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}
//cards title
.card-title{
  font-weight: bold;
}
//Cards colors
.mes{background-color: #d99855 !important;}
.fou{background-color: #55d962 !important;}
.wor{background-color: #5593d9 !important;}
.shi{background-color: #d9555c !important;}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 1;
    column-count: 1;
  }
}

@media (min-width: 768px) {
  .card-columns {
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    -webkit-column-count: 2;
    column-count: 2;
  }
}

:root {
  --input-padding-x: 0.75rem;
  --input-padding-y: 0.75rem;
}

#balancecard{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 184px;
  word-wrap: break-word;
  background-color: rgba(#4fffab, 0.33);
  //background-color: rgba(#ffffff, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.86);
  border-radius: 0.5rem;
}
.card-buttons{
  margin-top: 0.5rem !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
#depositButton{
  background-color: green;
  border-color: #000;
}
#withdrawButton{
  background-color: red;
  border-color: #000;
}
#newInvoiceButton{
  border-color: #000;
  background-image: linear-gradient(to right, green, yellow);
  color: black;
}
#payInvoiceButton{
  border-color: #000;
  background-image: linear-gradient(to right, yellow, red);
  color: black;
}
#balancecolumn{
  flex: 1 0 195px;
  //border-style: dashed;
  border-width: thin;
  border-color: #ff0000;
}
#channelscolumn{
  min-height: 100px;
  flex: 1 0 76%;
  //border-style: dashed;
  border-width: thin;
  border-color: #ff0000;
}
#transactionscolumn{
  min-height: 100px;
  flex: 1 0 100%;
  //border-style: dashed;
  border-width: thin;
  border-color: #ff0000;
}
#balancecard-title{
  margin-bottom: 0.5rem;
  margin-top: -0.5rem;
}
#balancetext{
  font-size: 1.2em;
  font-weight: bold;
}
.overthetable{
  display: flex;
  flex-basis: 0;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: nowrap;
}
.tabletitlediv{
  color: rgb(0, 0, 0);
  padding-left: 11px;
  background-color: rgba(#4fffab, 0.33);
  display: inline-flex;
  padding-right: 15px;
  padding-top: 2px;
  padding-bottom: 3px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  font-weight: bold;
  width: -moz-fit-content;
  border-style: solid;
  border-bottom-style: none;
  border-color: rgba(0, 0, 0, 0.86);
  border-width: 1px;
}
.uptableborder{
  flex: auto;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #0a130f;
  top: 1px;
  position: relative;
  text-align: end;
}
#channelstable{

}
.remotebalance{
  color: rgb(17, 152, 0);
}
.localbalance{
  color: rgb(161, 2, 2);
}
.mytable{

  border-bottom-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-color: rgba(0, 0, 0, 0.86);
  border-width: 1px;
  width: 100%;
}
.mytable thead{
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: rgba(0, 0, 0, 0.50);
  //color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 0.9em;
}
.mytable thead tr{
  color: rgba(255, 255, 255, 0.91);
  background-color: rgba(79, 255, 171, 0.33);
  text-shadow: 0px 0px 2px black;
}
.mytable tbody{
  color: rgba(0, 0, 0, 0.91);
  font-size: 0.8em;
}
.mytable tr{
  background-color: rgba(226, 249, 150, 0.73);
  border-bottom-style: solid;
  border-width: 1.5px;
}
.mytable th{
  background-color: rgba(248, 255, 106, 0.91);
}
.mytable td{
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  padding-right: 0.4rem;
  padding-left: 0.4rem;
}
.w-b{
  word-break: break-all;
  font-size: 0.85;
}
.trcolorred{
  background-color: rgba(255, 192, 130, 0.84) !important;
}
.trcolorred:hover{
    opacity: 0.85 !important;
}
.trcolorpink{
  background-color: rgba(255, 110, 149, 0.72) !important;
}
.trcolorpink:hover{
    opacity: 0.85 !important;
}
.trcolorgreen{
  background-color: rgb(109, 186, 139) !important;
}
.trcolorgreen:hover{
    opacity: 0.85 !important;
}
.trcolorgrey{
  background-color: rgba(233, 253, 131, 0.72) !important;
}
.trcolorgrey:hover{
    opacity: 0.85 !important;
}
#transtable{
  // table-layout: fixed;
}
.buttontd{
  text-align:right;
}

//datatables
.dataTables_wrapper{
  margin-top: -6px;
}

//products
#producttable .productrow{
  background-color: #edff93;
}
#producttable .p-name{
  font-weight: bold;
}
.row, .col, .container, .container-fluid{
  // border-style: dotted;
  // border-width: 2px;
  // border-color: #ff0000;
}
.row{
  // border-color: #00dd2a;
}
.padding6{
  padding:4px !important;
}
.colbord{
  // border-style: dotted;
  // border-width: 2px;
  // border-color: #2400ff;
}
.proddetaildiv{
  color: #000000;
  position: absolute;
  //opacity:0.5;
}

.proddetaildiv .thetagdiv{
  color: rgba(0, 61, 24, 0.92);
  font-weight: bold;
  font-size: 0.8rem;
  margin: 0;
  margin-top: 0px;
  padding: 0;
  text-align: center;
  margin-top: -3px;
}
.proddetaildiv .pdpart{

}
.proddetaildiv .pdname{
  font-size: 1.1em;
  font-weight: bold;
}
.proddetaildiv .pdphoto{
  text-align: center;
}
.proddetaildiv .pdprices{
  display: flex;
}
.proddetaildiv .pdprice{
  font-size: 0.8em;
  text-align: center;
  border-width: 3px;
  padding:5px;
  margin-left: 6px !important;
  margin-right: 6px !important;
  border-bottom-style: solid;
  border-color: #004633;
}
.proddetaildiv .pddesc{
  font-size: 0.8em;
  line-height: 1.09rem;
  border-radius: 6px;
  margin-bottom: 8px;
}
.proddetaildiv .pdlinks{
  font-size: 0.8em;
  line-height: 1.09rem;
}
.proddetaildiv .tagslistdiv{
  border-radius: 10px;
  position:fixed;
  padding:7px;
  padding-bottom: 12px;
  background-color:#181b1b;
  color:#fff;
  font-weight: normal;
  font-style: italic;
}
.proddetaildiv .helpertext{
  border-radius: 10px;
  position:fixed;
  padding:7px;
  padding-bottom: 12px;
  background-color:#181b1b;
  color:#fff;
  font-weight: normal;
  font-style: italic;
}
.proddetaildiv .divisor{
  height: 3px;
  border-style: inset;
  border-width: 1px;
  color: #0006;
  border-radius: 2px;
  margin-bottom: 9px;
  margin-top: 2px;
}
.proddetaildiv .orderProductButton{
  height: 100%;
  width: 80%;
  text-align: center;
}

//overlay
.overlay{
  background-color: #0000;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  left: 0;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  //opacity: 0.2;
}
.overlayWC{
  background-color: #464848;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 1021;
}
.overlayDS{
  display: flex;
  flex-direction: column;
  //max-width: 1024px;
}
#photoPreviewCarousel .carousel-inner{
  height:100%;
}

.carousel-item{
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
  height: 100%;
  text-align: center;
}
.carousel-img-div{
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width:100%;
  height:100%;
}
.carousel-item img{
  max-width: 100%;
}
#productPhotoPreviewColumn{
  height: 100%;
  width: 100% !important;
  max-width: 100% !important;
  padding: 0 !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  margin: 0 !important;
}
#productPhotoPreviewCommandsColumn{
  height: 100%;
  width: 100% !important;
  max-width: 100% !important;
  padding: 0 !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  margin: 0 !important;
}
#closeProductPreview{
  height: 100% !important;
  width: 100% !important;
  background-color: #000000;
  font-size: 1.6rem;
  color: #ffffffb3;
}
#closeProductPreview:hover{
  background-color: #040404;
}
